<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>csmegamenu</name>
            <displayName><![CDATA[CS Mega Menu block]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Adds a mega menu block.]]></description>
            <author><![CDATA[CodeSpot]]></author>
            <tab><![CDATA[MyBlocks]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>