h1{margin-bottom:10px;}

.resumecat {padding-bottom:5px;}

.content_scene_cat {display:block;margin:0 0 10px;position:relative;background:#f6f6f6 url(../img/bkg_b_cat.jpg) repeat-x left bottom;padding-bottom:20px;}
.content_scene_cat  .align_center{text-align:center;height:210px;padding-bottom:15px}
.content_scene_cat  .align_center img{max-height:100%}

.cat_desc {width:100%;text-align:center;color:#2d2d2d;}
.cat_desc  h2{color:#3f7ab6;text-transform:uppercase;font:700 28px/1.25 "Open Sans",Arial, Verdana, sans-serif;padding-bottom:0}

.cat_desc p {padding:0 10px 5px 10px}
.cat_desc .lnk_more {
   padding:0 10px;
   color:#0088CC;
	background:url(../img/arrow_right_1.png) no-repeat 100% 4px transparent;
}


/* ************************************************************************************************
      SUB CATEGORIES
************************************************************************************************ */
#subcategories {padding:0 0 20px;overflow:hidden;border:1px solid #dcdcdc;margin-bottom:30px;box-shadow:0 2px 1px #eeeeee;border-radius:2px;-moz-border-radius:2px;position:relative}
#subcategories h3 {
	font:700 13px/1.35 "Open Sans",Helvetica,arial;text-transform:uppercase;background:#f9f9f9 url(../img/bkg_feater.jpg) repeat-x bottom center;padding:5px 10px 7px;color:#3a3a3a;text-transform:uppercase;
}
#subcategories ul{overflow:hidden;padding:10px 0 0;width:104%}

#subcategories ul li{width:140px;float:left;margin:0 10px;vertical-align:top;}
#subcategories ul li a.img{text-align:center;display:block;margin-bottom:10px;}
#subcategories ul li a.img img{max-width:100%}
#subcategories ul li a{line-height:15px}

