#center_column h1 {margin-bottom:20px}
#my-account #center_column p.title_block{color:#ED2F15}
#center_column .myaccount_lnk_list {list-style-type:none;padding-bottom:20px;margin-bottom:20px;}
#center_column .myaccount_lnk_list li {
	line-height:17px;padding:10px 0;
}
#center_column .myaccount_lnk_list li  a{font-weight:700}
#center_column .myaccount_lnk_list li  a:hover{color:#1b1b1b;text-decoration:underline}
#my-account #center_column .title_block{font-size:12px;text-transform:none}
#center_column  .myaccount_lnk_list img.icon,
p img.icon {
	position:relative;vertical-align:middle;padding-right:7px;
}
#center_column  .myaccount_lnk_list img.icon{opacity:0.5}
#center_column  .myaccount_lnk_list li:hover img.icon{opacity:1}
p a.home{float:left}
