.manufacturerContainer{padding:15px 0;border:1px solid #d1d1d1;clear:both;overflow:hidden;border-radius:2px;-moz-border-radius:2px;margin:0 0 10px;}
.manufacturerContainer h4{text-align:center;padding:0 0 15px;font:700 24px/26px "Lato",Arial, Verdana, sans-serif;background:none;color:#202020;text-transform:uppercase}
.list_manufacturer {
	width: 360px;
}
.list_manufacturer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	width:4158px;
}
.list_manufacturer li {
	width: auto;
	height: auto;
	padding:0!important;
	margin:0 10px;vertical-align:middle;
	display: inline-block;#display: inline;
}
.list_manufacturer li a{display:block;}
.list_manufacturer li a img{vertical-align:middle;max-width:100%;}
.list_manufacturer.responsive {
	margin: 0;
	padding:0 50px;width:auto;display:block;position:relative;
}
.cclearfix {
	float: none;
	clear: both;
}
.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
.ui-tabs .ui-tabs-hide {
    display: block;
    visibility: hidden;
    height: 0;
}
.manufacturerContainer  a.btn{position:absolute;top:28%;text-indent:-9999px;float:left;background-image:url(../bkg_pre_next.png);background-repeat:no-repeat;width:20px;height:20px; transition: all 0.3s ease 0s;}
.manufacturerContainer  a.btn:hover{background-image:url(../bkg_pre_next.png);}
.manufacturerContainer  a.prev{left:0;background-position:0 0}
.manufacturerContainer  a.next{right:0;background-position:0 100%}
.manufacturerContainer  a.prev:hover{background-position:-20px 0}
.manufacturerContainer  a.next:hover{background-position:-20px 100%}

