<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>csquickview</name>
            <displayName><![CDATA[CS QuickView product.]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Show popup when click Quick view.]]></description>
            <author><![CDATA[Codespot]]></author>
            <tab><![CDATA[My Blocks]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>