#menu {float:left;clear:left;position:relative;margin:-50px 0 10px;/*background:#fa5229;*/border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;z-index:100}
#index #menu{margin-right:10px;}
#menu .cs_mega_menu_cat{border:2px solid #fa5229;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;}
#index #menu .cs_mega_menu_cat{border-radius:3px;-moz-border-radius:3px;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu{background:#fff;/*margin:0 2px 2px;*/;position:absolute;left:0;top:auto;width:100%;display:none}
#menu.cs_mega_menu .cs_mega_menu_cat:hover .cs_ul_mega_menu  {display:block;}
#index #menu.cs_mega_menu .cs_mega_menu_cat .cs_ul_mega_menu  {display:block!important;position:relative;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul.ul_mega_menu{border:2px solid #fa5229;border-top:none!important;border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;}
#index #menu .cs_mega_menu_cat .cs_ul_mega_menu ul{border:none!important}
.cs_mega_menu span.shop_by{
	color:#3a3a3a;cursor:pointer;
	font-family:'Myriad Pro', arial, sans-serif;
	font-weight:700;text-transform:uppercase;padding:10px 8px;/*margin:2px 2px 0;*/
	font-size:13px;min-height:16px;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;
	line-height:16px;background:#f9f9f9 url(../img/bkg_span_menu.jpg) repeat-x left bottom;display:block
}
#index .cs_mega_menu span.shop_by{min-height:19px;}
.cs_mega_menu span.shop_by span.icon{float:right;text-indent:-9999px;background:url(../img/bkg_arrow_d.png) no-repeat 0 0;width:9px;height:6px;position:absolute;top:18px;right:9px;transition: all 0.5s ease 0s;}
#menu.cs_mega_menu:hover  span.shop_by span.icon{background-position:0 100%}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul {list-style: none;margin:0;padding: 0;}
#index .cs_mega_menu span.shop_by{cursor:text;}
#index .cs_mega_menu span.shop_by span.icon{background-position:0 0!important}

#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.menu_item{width:auto;float:none;display:block;/*position:relative;*/margin:0;padding:5px 0 4px;transition: all 0.5s ease-in-out 0s;border-bottom:1px solid #e7e7e7}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.menu_custom.menu_item{position:relative}
/*#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.menu_item span.icon_menu{float:left}*/
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.menu_item a{
	/*float:none;padding:0 20px;
	display:table-cell;vertical-align:middle;height:40px;color:#fff;font:400 14px/16px "Open Sans",arial;text-transform:uppercase;*/}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.menu_item a.title_menu_parent{padding:0 7px;color:#5d5d5d;display:block;vertical-align:middle;overflow:hidden;font-family:arial;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.menu_item a.title_menu_parent:hover,
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.menu_item a:hover,
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.parent:hover > a{color:#ee3d25}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.parent{background:url(../img/icon/i-menu-show.png) no-repeat right center;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.parent{padding-right:15px}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul  li.parent:hover{/*background:url(../img/icon/i-menu-show_hover.png) no-repeat right center;*/background:none;}
.cs_ul_mega_menu ul  li.menu_item span.icon_menu img{vertical-align:middle;border:1px solid #e6e6e6;margin-right:5px;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul  li > div.options_list,#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul  li > div.sub_menu,
#cs_megamenu_more .more-menu{
	display: none;top:-2px;border:2px solid #fa5229;
	margin:0;background:#fff;
	position: absolute;
	z-index:100;left:10px;
	padding:20px 0 0;text-align:left;
}
a.cat_child img{display:block;margin:0 auto}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul  li > div.sub_menu{width:100%!important}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li > div {
	display: none;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li:hover > div {display: block;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu  ul ul > li.parent:hover div.sub_menu{left:100%;top:-21px;z-index:100;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul li.menu_item > div a{
	color: #646464;
	text-decoration: none;text-transform:none;
	display: block;
	padding:0;
	margin:0;
	z-index: 20;height:auto;
	position: relative;font:400 12px/1.35 arial;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul li.menu_item > div a:hover{transition: all 0.5s ease 0s;color:#ee3d25;text-decoration:underline;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li > div > ul {
	display: table-cell;
}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li#cs_megamenu_more  div ul{display:block}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li .options_list ul{float:left;padding-bottom:20px;}
li .options_list ul.manufacture{padding-bottom:0!important}

#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li div a.cat_parent{padding:7px 0 0;display:inline-block;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li div a.cat_parent img{display:block;margin-bottom:10px;max-width:100%}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li div a:hover,
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul li.menu_item > div a:hover,#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .product_item a:hover {
	color:#ee3d25;text-decoration:underline;transition: all 0.5s ease 0s;
}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}

#menu .cs_mega_menu_cat .cs_ul_mega_menu .option ul li {position: relative}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li ul li{position:relative;padding:5px 15px}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li ul li:hover > div.sub_menu{display:block}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .div_static{margin:0;color:#646464;padding:0 20px 20px}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .div_static p{margin:0 0 7px}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .div_static  .static_menu_6{margin-bottom:10px;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .div_static a{text-align:center;display:block;padding-bottom:10px}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .div_static a img{max-width:100%}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .div_static h3{padding-bottom:15px;padding-top:15px;font-size:12px;text-transform:uppercase}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .div_static h3.title_2{margin-top:10px;border-top:1px dotted #c8c8c8;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu .column.product li.product_item p{color:#fff;padding-left:12px;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li div.out_cat_parent{display:block;padding:0 15px;text-align:center}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li div.out_cat_parent a,
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .div_static h5{color:#2b2b2b;font:700 14px/17px arial;text-transform:none;padding-bottom:10px;}

#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li .out_cat_parent a.cat_parent + a{}
#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li .out_cat_parent a{padding:0;display:block;text-align:left}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li.cs_m_manufacter  div.options_list{padding:20px 20px 0 0}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .manufacture .product_item{width:auto;float:left;padding:0 0 20px 20px;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .manufacture .product_item a{display:block;text-align:center;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .manufacture .product_item a img{max-width:100%;vertical-align:top}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product{padding:0 20px!important;overflow:hidden}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product + .ajax_block_product{margin-top:20px;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product,#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product a {}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product .image{display:block;margin-bottom:10px;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu .block_product li.ajax_block_product .image{float:left;padding-right:20px;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product .product_image_menu{display:block}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product .product_image_menu img{max-width:100%}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product h3{line-height:15px;padding-bottom:10px;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product h3 a{color:#3b3b3b;font:400 12px/15px arial;text-transform:none;display:inline;#display:inline}
#menu .cs_mega_menu_cat .cs_ul_mega_menu #cs_megamenu_more li .name_product{clear:both;display:block}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li a.product_image{text-align:center}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li a.product_image:hover img{box-shadow:none;opacity:0.8}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product a:hover{text-decoration:none}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product p{margin:0 0 5px}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product .exclusive{width:auto;padding:0 15px!important;text-transform:uppercase!important;display:inline-block!important;min-width:50px}
.cs_hide_p .name_product,.cs_hide_p  .price{display:none}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li.cs_hide_p  .ajax_block_product .image{float:none;padding:0;margin-bottom:10px;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li .ajax_block_product .exclusive:hover{color:#fff;text-decoration:none}
.cs_st_img {text-align:center;margin-bottom:10px;}
.cs_st_img  img{max-width:100%}
/* Responsive Menu */
#megamenu-responsive{
    width:100%;position:relative;z-index:98;clear:both;
    line-height:17px;display:none;text-align:left;
}

.menu-toggle > p{ background: url("../img/menu.png") no-repeat scroll 50% center transparent;
    display: block;
    float: left;
    height: 30px;
    left: 5px;
    margin: 0;
    position: absolute;
    top: 3px;
    width: 30px;
}

.menu-toggle{
    color:#3a3a3a;cursor:pointer;
	font-family:'Myriad Pro', arial, sans-serif;
	font-weight:700;text-transform:uppercase;
	font-size:14px;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;background:#f9f9f9 url(../img/bkg_span_menu.jpg) repeat-x left bottom;position:relative;padding-left:40px!important;
}
#megamenu-responsive-root > li{padding:10px 15px}

#megamenu-responsive-root{border:2px solid #fa5229;border-radius:3px;-moz-border-radius:3px;}
#megamenu-responsive-root li.root{padding:0}
/*#megamenu-responsive-root > li{padding:10px 0;display:block;text-transform:uppercase;font:400 14px/16px "Open Sans",arial;color:#fff}*/
#megamenu-responsive-root > li a{padding:10px;display:block;color:#3a3a3a;text-align:left;font:400 14px/16px "Open Sans",arial;text-transform:capitalize}
#megamenu-responsive-root li.root > ul{
    display:none;
}

#megamenu-responsive-root li.root.open > ul{
    display:block;background:#fff
}

#megamenu-responsive-root li.parent > ul{
    display:none;
}


#megamenu-responsive li.parent {clear:both
}
#megamenu-responsive .root li{padding:0; border-top:1px solid #e7e7e7;}
#megamenu-responsive .root li li ul{margin:0 0 0 10px}
#megamenu-responsive .root li li ul li{border:none}
#megamenu-responsive .root li li ul li ul{border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
#megamenu-responsive .root li a:hover{
    color:#55ADFF;text-decoration:none
}

#megamenu-responsive li.parent ul{clear:both;}
#megamenu-responsive .root li ul{padding:0;overflow:hidden}
#megamenu-responsive ul span{}

#megamenu-responsive a{
    display:block;
}

#megamenu-responsive li.parent > a span{
    display:block;
}

#megamenu-responsive li.parent > p{
    display:block;
    float:right;
    padding:5px 10px;
    width:10px;height:18px;line-height:19px;
    text-align:center;
    cursor:default;
    font-weight:700;
    font-size:18px;
    color:#3a3a3a;
    margin:4px 0 0;
}
a.product_image img{
max-width : 100%;
}
#cs_megamenu_more .more-menu{right:0;width:180px!important;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu #cs_megamenu_more ul li.menu_item {padding:5px 20px;width:140px;}

#cs_megamenu_more .more-menu div.options_list{top:0}
/* Media Queries */
@media only screen and (min-width:1024px) and (max-width: 1279px) {
	
	#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li div a.cat_parent img{width:100%}
}
@media only screen and (max-width: 1023px) {
	#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li.menu_item a{min-width:auto;padding:0 10px}
	#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li div a.cat_parent img{width:100%}
	#menu .cs_mega_menu_cat .cs_ul_mega_menu > ul > li .options_list ul{width:100%!important;margin-bottom:15px}
}

@media only screen and (max-width: 767px) {
	#menu .cs_mega_menu_cat .cs_ul_mega_menu{display:none!important;}
	#megamenu-responsive{display:block;margin-bottom:10px}
}

/* ipad */
#cs_megamenu_more .more-menu li:hover div.options_list{/*display:block;*/left:auto;right:100%;}
#cs_megamenu_more .more-menu li:hover div ul li div.options_list{display:none;}
#cs_megamenu_more .more-menu li:hover div ul li:hover div.options_list{display:block;}
#menu .cs_mega_menu_cat .cs_ul_mega_menu #cs_megamenu_more .more-menu li a.title_menu_parent{color:#646464}
#menu .cs_mega_menu_cat .cs_ul_mega_menu #cs_megamenu_more .more-menu li:hover a.title_menu_parent{color:#fff}
/*.spanOption,.spanColumn{display:none}*/
/* ipad hover */
/*@media only screen and (min-width:768px) and (max-width:1199px){
#menu .cs_mega_menu_cat .cs_ul_mega_menu ul li.level-1.parent{padding-right:3px;padding-left:7px;}
}*/

.spanColumn,.spanOption{display:none}