.cs_out_content{overflow:hidden;padding-bottom:10px}
.csmegamenu.table tr td{padding:8px 6px;}
.table tr.row_hover_opt:hover td {background:rgb(214, 213, 209)}
a.upper {text-transform:uppercase;}
.tableOption  {border-spacing: 0; width:100%}
.categorieTitle {padding: 13px 15px 0 0px;}
.sidebar{width:320px!important}
#moduleContainer{margin-left:320px!important}
.option_type_2 .margin-form{padding-left:0;margin-top:10px;}