.home_top_tab_category{position:relative;clear:both;margin-bottom:10px;}
.home_top_tab_category  .ui-helper-hidden { display: none; }
.home_top_tab_category  .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.home_top_tab_category  .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.home_top_tab_category  .ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.home_top_tab_category  .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.home_top_tab_category  .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.home_top_tab_category  .ui-tabs { position: relative; padding:0; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.home_top_tab_category  .ui-tabs .ui-tabs-nav,.home_top_tab_category  .title_tab {text-align:center;margin-bottom:10px;	}
.home_top_tab_category  .ui-tabs .ui-tabs-nav li { list-style: none; position: relative;margin:0;padding:6px 15px 8px; white-space: nowrap; display:inline-block;#display:inline;}
.home_top_tab_category  .ui-tabs .ui-tabs-nav li a,.home_top_tab_category  .title_tab {padding:0; text-decoration: none;font-size:13px;text-align:center;font-weight: 700;color:#757575;line-height:17px; }
.home_top_tab_category  .title_tab{padding:5px 15px;min-height:25px}
.home_top_tab_category  .ui-tabs .ui-tabs-nav li.ui-tabs-selected,
.home_top_tab_category  .ui-tabs .ui-tabs-nav li:hover,
.home_top_tab_category  .title_tab_hide_show{background:#f9f9f9 url(../images/bkg_tab_hover.jpg) repeat-x left bottom;border:1px solid #dcdcdc;border-radius:2px;-moz-border-radius:2px;padding:5px 14px 7px;}
.home_top_tab_category  .title_tab_hide_show{margin-bottom:10px;font-size:13px;font-weight: 700;color:#757575;}
.home_top_tab_category  .title_tab_hide_show.selected{color:#000}
.home_top_tab_category  .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.home_top_tab_category  .ui-tabs .ui-tabs-nav li:hover a{color:#525252;}
.home_top_tab_category  .ui-tabs .ui-tabs-nav li.ui-tabs-selected a{cursor:text}
.home_top_tab_category  .ui-tabs .ui-tabs-panel { display: block;padding:0;border:1px solid #c4c4c4;border-radius:2px;-moz-border-radius:2px; overflow:hidden}
.home_top_tab_category  .ui-tabs .ui-tabs-hide { display: none; }


/* Component containers
----------------------------------*/
.home_top_tab_category  .ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; }
.home_top_tab_category  .ui-widget .ui-widget { font-size: 1em; }
.home_top_tab_category  .ui-widget input,.home_top_tab_category   .ui-widget select,.home_top_tab_category   .ui-widget textarea,.home_top_tab_category   .ui-widget button { font-family:Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
.home_top_tab_category  .ui-widget-content {margin-bottom:0!important; border:none; background-color:transparent }


/*product list*/
.home_top_tab_category  .product-list li .discount {}
.home_top_tab_category  .product-list li .price {}
.home_top_tab_category  .product-list .category_name{display:none}
.home_top_tab_category  .product-list li h3 {padding-bottom:2px;}
.home_top_tab_category  .tabs-carousel{margin-bottom:30px;position:relative}
.home_top_tab_category  .tabs-carousel .prev,.tabs-carousel  .next{top:-32px}
/* reponsive */

/*jquery.carouFredSel-6.1.0-packed*/
.home_top_tab_category  .list_carousel {
	width: 360px;
}
.home_top_tab_category  .list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.home_top_tab_category  .list_carousel li {
	width: 140px;
	height: auto;
	padding:20px 0 10px;
	margin:0 20px 0 0;vertical-align:top;
	display: inline-block;#display: inline;
}
.home_top_tab_category  .list_carousel li a.product_image{display:block;width:120px;height:120px;border:1px solid #d8d8d8;border-radius:100px;-moz-border-radius:100px;overflow:hidden}
.home_top_tab_category  .list_carousel li a.product_image img{max-width:99.5%;}
.home_top_tab_category  .list_carousel.responsive {
	width: auto;
	margin-left: 0;
	padding:0;
}
.cclearfix {
	float: none;
	clear: both;
}


.home_top_tab_category  .pager {
	float: left;
	width: 300px;
	text-align: center;
}
.home_top_tab_category  .pager a {
	margin: 0 5px;
	text-decoration: none;
}
.home_top_tab_category  .pager a.selected {
	text-decoration: underline;
}
.home_top_tab_category  .timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
.home_top_tab_category  .ui-tabs .ui-tabs-hide {
    display: block;
    visibility: hidden;
    height: 0;border:none;
}

/*jquery.carouFredSel-6.1.0-packed*/
.cat_banner{width:auto;float:left;margin-right:20px;width:578px;}
.cs_right_cat_tab{float:left;width:580px;}
.cs_right_cat_tab h1{color:#15aecc;text-transform:uppercase;font:700 32px/1.35 "Open Sans",Arial,Verdana,sans-serif;margin:0}
.cs_right_cat_tab h1 a{color:#15aecc;}
.cs_right_cat_tab h1 a:hover{color:#ED2F15}
.cs_right_cat_tab p{color:#686868}
.cat_banner img{max-width:100%;vertical-align:top}
